body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-areas: 
  "header header header"
  "aside main main"
  "aside main main"
  "aside main main"
  ;
}

.header {
  grid-area: header;
  height: 100px;
  background-color: black;
}