body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-areas: 
  "header header header"
  "aside main main"
  "aside main main"
  "aside main main"
  ;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 100px 100vh auto;
}

.header {
  grid-area: header;
  background-color: #121212;
}

.aside {
  grid-area: aside;
  background-color: #191919;
}

.main {
  grid-area: main;
  display: grid;
  background-color: #DDDDDD;
  justify-content: center;
  align-items: center;
}

.todo {
  background: #191919;
  height: 400px;
  width: 400px;
}