body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #cccaae;
  height: 2000px;
  font-family: Roboto;
}


.container {
  display: grid;
  grid-template-areas: '"header header header"';
}


.header {
  height: 100px;
  background: #744360;
  text-align: center;
  filter: drop-shadow(0px 1px 3px black);
}


.form {
  display: grid;
  justify-content: center;
  margin: 30px;
}


/* input:focus {
  border: 4px solid blue;
} */


#button {
  margin: 20px auto;
  background: #8d5275;
  padding: 10px;
  color: white;
  font-size: 16px;
}


.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3px;
  justify-items: center;
  align-items: center;
  background: #744360;
  filter: drop-shadow(0px 1px 3px black);
}


.card {
  height: 200px;
  width: 200px;
  margin: 30px;
  padding: 10px;
  background: #cccaae;
  border-radius: 6px;
}

