body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #cccaae 0%, #744360 100%) no-repeat;
  height: 100vh;
}

.form {
  display: grid;
  justify-content: center;
}