/* 
  **************************************************
  * Flex Container Properties                      *
  **************************************************
  * flex-direction
  * flex-wrap
  * flex-flow
  * justify-content
  * align-items
  * align-content
  **************************************************
  * Flex Item Properties                           *
  **************************************************
  * order
  * flex-grow
  * flex-shrink
  * flex-basis
  * align-self
  **************************************************
  * The Axes                                       *
  **************************************************
  * Row ********************************************
  **************************************************
  * Main Axis - flex-direction: row (horizontal)   *
  * Cross Axis - flex-direction: row (vertical)    *
  **************************************************
  * Column *****************************************
  **************************************************
  * Main Axis - flex-direction: column (horizontal *
  * Cross Axis - flex-direction: column (vertical) *
  **************************************************
*/


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  background-color: #090909;
}

.item {
  width: 100px;
  height: 100px;
  /* css blue */
  background: #254ed4;
  color: #fff;
  margin: 10px;
}

.container__justify__end {
  justify-content: end;
}

/* 
.container__justify-end__item {
  width: 100px;
  height: 100px;
  background: #254ed4;
  color: #fff;
  margin: 10px;
} 
*/

.container__justify__start {
  justify-content: start;
}

/* 
.container__justify-start__item {
  width: 100px;
  height: 100px;
  color: #fff;
  margin: 10px;
}
*/

.container__justify__center {
  justify-content: center;
}

.container__justify__space-around {
  justify-content: space-around;
}

.container__justify__space-between {
  justify-content: space-between;
}

/* .container__align-items__center {} */