body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  min-width: 650px;
}

/* for testing */
.container, .main, .header, .header__top, .header__bottom {
  border: 1px solid coral
}

.container {
  display: grid;
  grid-template-areas: 
  'sidebar header header header'
  'sidebar main main main'
  'sidebar main main main'
  'sidebar main main main';
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr;
  height: 100vh;
}

.main {
  grid-area: main;
  background: #1992D4;
}

.header {
  grid-area: header;
  display: grid;
  background: #1992D4;
}

.header__top {
  grid-template-columns: span 1 / -1;
}

.sidebar {
  grid-area: sidebar;
  background: #1992D4;
  display: grid;
}


.logo {
  color: white;
  font-size: 1.5rem;
}

li {
  list-style: none;
  font-size: 1.3rem;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

