body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  min-width: 650px;
  /* overflow: hidden; */
  background: #E2E8F0;
}


.container {
  display: grid;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main'
    'sidebar main main main'
    'sidebar main main main';
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 3fr;
  height: auto;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-areas:
    'h3 h3 announcement'
    'project project announcement'
    'project project trending'
    'project project trending'
  ;
}

.header {
  grid-area: header;
  display: grid;
  background: #FFF;
}

.header__top {
  display: grid;
  background: white;
  grid-template-areas:
    'searchbar searchbar info'
  ;
}

.top-right-container {
  display: grid;
  grid-template-areas:
    'bell picture name'
  ;
  align-items: center;
  justify-content: space-evenly;
}

.search {
  grid-area: searchbar;
}

.bell {
  grid-area: bell;
}

.picture {
  grid-area: picture;
}

img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.name {
  grid-area: name;
}

.buttons {
  display: grid;
  grid-area: button;
  grid-template-columns: 1fr 1fr 1fr;
}

button {
  border-radius: 10px;
  background: #1992D4;
  border: none;
}

.header__bottom {
  display: grid;
  grid-template-areas: 
  'picture picture button button button'
  ;
  align-items: center;
  background: white;
}

.name > a {
  color: black;
}

.sidebar {
  grid-area: sidebar;
  background: #1992D4;
  display: grid;
  padding: 10px;
}

.logo {
  color: white;
  font-size: 1.5rem;
}

li {
  list-style: none;
  font-size: 1.3rem;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.projects {
  display: grid;
  grid-area: project;
  grid-template-areas:
    'card1 card2'
    'card3 card4'
    'card5 card6';
}

.projects {
  gap: 16px;
  margin: 5px;
}

.main>h3 {
  margin-left: 5px;
}

.card {
  height: 250px;
  width: 250px;
  background: white;
  border-radius: 4px;
  padding: 10px;
}

.announcement {
  grid-area: announcement;
}

.announcement__card {
  background-color: white;
  height: auto;
  width: 180px;
  border-radius: 4px;
  padding: 10px;
}

.trending {
  grid-area: trending;
}

.trending__card {
  background-color: white;
  height: 215px;
  width: 180px;
  border-radius: 4px;
  padding: 10px;
}

.img-wrapper {
  display: grid;
}