@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 2px;
  padding: 2px;
}

html,
body {
  height: 100%;
}

/* 
  First Child: red;
  Second Child: green;
  Third Child: blue;
  Fourth Child: purple;
  Fifth Child: orange;
  Sixth Child: pink;
 */

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background: #aaa;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* * Modal Container */

.modal {
  display: flex;
  background: white;
  width: 600px;
  border: 4px solid red;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, .2);
  gap: 40px;
}

/* * Flex Container */

.flex-container {
  display: flex;
}

/* * Aside Container */

.modal__aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: ;
  border: 4px solid blue;
  border-radius: 10px;
}

.modal__aside__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  border: 4px solid green;
  border-radius: 10px;
}

h4.modal__aside__icon--text {
  display: flex;
  font-weight: bolder;
  color: purple;
}


/* * Main Section Container */

.modal__main {
  display: flex;
  flex-direction: column;
  border: 4px solid blue;
  border-radius: 10px;
}

.modal__main__header {
  display: flex;
  justify-content: space-between;
  border: 4px solid green;
  border-radius: 10px;
}

.modal__main__header--text {
  border: 4px solid purple;
  border-radius: 10px;
}

h3.modal__main__header--text {
  color: orange;
}

.modal__main__button--close {
  border: 4px solid purple;
  border-radius: 10px;
}

div.modal__main__button--close {
  color: orange;
}

.modal__main__paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid green;
  border-radius: 10px;
}

.modal__main__paragraph--text {
  border: 4px solid purple;
  border-radius: 10px;
}

.modal__main__button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 4px solid green;
  border-radius: 10px;
}

.modal__main__button--continue {
  border: 4px solid purple;
  border-radius: 10px;
}

.modal__main__button--cancel {
  border: 4px solid purple;
  border-radius: 10px;
}

/* .modal__main {
  display: flex;
  flex-direction: column;
} */

/* .modal__main__info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modal__main__info__header {
  display: flex;
  justify-content: space-between;
} */


/* * Content Container */

/* .modal__main__content {
  display: flex;
  flex-direction: column;
}

.modal__main__interactive {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
} */


/* 

* --------------------------------------------------------

* Layout Inspection:


* - Alignment:


* -- modal_icon is in its own column container with the align-items set to flex-start


* -- modal__header, modal__close--button, modal__text, modal__button--continue, and modal__buton--cancel are all in one container
* --- modal__header and modal__close--button are in a row container with justify-items set to space-between 
* ---- (possibly) align-items and justify-content set to center


* -- modal__button--continue and modal__buton--cancel are in a row container
* --- items are set to align-items: left or flex-start

* -------------------------------------------------------- 

*/