@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background: #aaa;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* * Modal Container */

.modal {
  display: flex;
  background: white;
  width: 480px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, .2);
  gap: 40px;
}


/* * Flex Container */

.flex-container {
  display: flex;
}


/* * Aside Container */

.modal__aside {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.modal__aside__icon {
  color: royalblue;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
}

/* * Main Section Container */

.modal__main {
  display: flex;
  flex-direction: column;
}

.modal__main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* * Main Paragraph */

/* .modal__main__paragraph {
  display: flex;
  align-items: center;
  justify-content: center; 
} */

/* * Main Button */

.modal__main__button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

