body {
  margin: 0;
  padding: 0;
  background: url('./site-background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.container {
  display: grid;
  grid-template-areas: 
  "header header header header header"
  "sidebar sidebar sidebar sidebar sidebar"
  "content content content content content"
  ;
  /* grid-template-areas:
    "header header header header header"
    "sidebar content content content content"
    "sidebar content content content content"
  ; */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 80px 70px 500px;
  /* position: relative; */
}

.header {
  grid-area: header;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, .90);
  border-bottom: 1px solid black;
}

.navbar {
  grid-area: sidebar;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  background: rgba(0, 0, 0, 0.60);
  padding-top: 25px;
}

a:hover {
  background: rgba(0, 0, 0, 0.90);
}

.content {
  grid-area: content;
  color: white;
  padding: 150px;
  background-color: rgba(0, 0, 0, .60);
}


li {
  list-style-type: none;
  gap: 100px;
}

a {
  text-decoration: none;
  color: white;
}