body {
  margin: 0;
  padding: 0;
  background: url('./site-background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header header header"
    "sidebar content content content content"
    "sidebar content content content content"
  ;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 80px auto auto;
  position: relative;
}

.header {
  grid-area: header;
  border-bottom: 1px solid black;
}

.sidebar {
  grid-area: sidebar;
  display: grid;
  height: 100vh;
}

.content {
  grid-area: content;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}