@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --background-color-dark: #1f2937;
  --hero-main-text: #f9faf8;
  --hero-secondary-text: #e5e7eb;
  --header-logo-text: var(--hero-main-text);
  --header-link-text: var(--hero-secondary-text);
  --background-color-action: #3882f6;
  --information-header-text: #1f2937;
  --background-color-gray: var(--hero-secondary-text);
  --side-padding: 0 200px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  border-radius: 4px;
}


/* * Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background-color-dark);
  padding: var(--side-padding);
}

.header__logo {
  font-size: 24px;
  font-weight: 800;
  color: var(--header-logo-text);
}

.header__nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.header__nav a {
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: var(--header-link-text);
}


/* * Hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--background-color-dark);
  padding: var(--side-padding);
}

.hero__text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: var(--hero-main-text);
}

.hero__text h1 {
  font-size: 48px;
  font-weight: 800;
  max-width: 15ch;
}

.hero__text sub {
  font-size: 18px;
  max-width: 50ch;
}

.hero__button {
  background: var(--background-color-action);
}


/* * Information */
.information {
  display: flex;
  flex-direction: column;
  padding: var(--side-padding);
}

.information__content {
  display: flex;
  gap: 50px;
}

.information__content__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information h3 {
  font-size: 36px;
  font-weight: 800;
}


/* * Quote */
.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background-color-gray);
  padding: var(--side-padding);
}

.quote--text {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}


/* * Call to Action */
.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--side-padding);
}

.cta__container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-color-action);
}


/* * Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-color-dark);
  padding: var(--side-padding);
}