@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}


/* * Hero Section */

.hero {
  display: flex;
  flex-direction: column;
}

.hero__header {
  display: flex;
}

.hero__header__links {
  display: flex;
}

.hero__text {
  display: flex;
}

.hero__img__container {
  display: flex;
}

.hero__img__container img {
  margin: auto;

}

/* * Info Section */

.info {
  display: flex;
  flex-direction: column;
  border: 4px solid #ff0000;
  border-radius: 14px;
}

.info__header__container {
  display: flex;
  justify-content: center;
  border: 4px solid green;
  border-radius: 14px;
  margin: 1px;
}

.info__cards__container {
  display: flex;
  border: 4px solid green;
  border-radius: 14px;
  margin: 1px;
}

.info__img__container {
  display: flex;
  flex-direction: column;
  border: 4px solid purple;
  border-radius: 14px;
  margin: 1px;
  overflow: hidden;
}

.info__img__container--img {
  border: 4px solid orange;
  border-radius: 14px;
  margin: 1px;
}

.info__img__container--text {
  border: 4px solid orange;
  border-radius: 14px;
  margin: 1px;
}


/* * Quote Section */

.quote__container {
  display: flex;
  flex-direction: column;
}


/* * Call to Action Container */

.cta__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta__container__child {
  display: flex;
}


/* * Footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}