:root {
  --background-color-dark: #1f2937;
  --hero-main-text: #f9faf8;
  --hero-secondary-text: #e5e7eb;
  --header-logo-text: var(--hero-main-text);
  --background-color-action: #3882f6;
  --information-header-text: #1f2937;
  --background-color-gray: var(--hero-secondary-text);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


/* * Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--background-color-dark);
  padding: 20px 0;
}

.header__logo {
  font-size: 24px;
  font-weight: 800;
  color: #f9faf8;
}

.header__nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.header__nav a {
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: #ebe7eb;
}