* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #eee;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
}

.header__text {
  margin: 20px 15px;
  font-weight: 900;
}

.main {
  display: flex;
}

.sidebar {
  display: flex;
  min-width: 300px;
  background: royalblue;
}

.sidebar__navigation {
  margin: 20px 15px;
}

.sidebar__link {
  padding-bottom: 30px;
  font-size: 24px;
  font-weight: 500;
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin: 48px;
  gap: 34px;
}

.card {
  display: flex;
  width: 315px;
  height: 215px;
  padding: 10px;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, .06);
  border-radius: 4px;
}

.card__text {
  margin: 10px;
  font-weight: 500;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  border-bottom-left-radius: 13px;
}